<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title></title>
		<link rel="stylesheet" href="/static/bootstrap.css" />
		<style>
			.menu{
				display: block;
				padding: 5px;
			}
		</style>
	</head>
	<body>
		<div>
			
			<div style="height: 48px;background-color: black;color: white;">
				后台管理
			</div>
			<div id="" style="position: absolute;background-color: gray;top:48px;left: 0;bottom: 0;width: 200px;">
				<a class="menu" href="/app02/user_info/">用户管理</a>
				<a class="menu" href="/app02/user_group">用户组管理</a>
			</div>
			<div style="position: absolute;top: 48px;left: 210px;bottom: 0;right: 0;overflow: auto;">
				<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
		  			添加用户
				</button>
				<h1>用户列表</h1>
				<ul>
					{% for item in user_list %}
					<li><a href="/app02/datail-{{item.id}}">{{item.username}}</a> | 
						<span>{{item.user_group.caption}}</span> | 
						<a href="/app02/del-{{item.id}}">删除</a> | 
						<a href="/app02/edit-{{item.id}}">编辑</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
		
		
		
		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">添加用户</h4>
		      </div>
		      <form method="POST" action="/app02/user_info_b">
		      <div class="modal-body">
		        
							

					<div class="form-group">
					    <label for="exampleInputEmail1">用户名</label>
					    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" name="username">
					</div>
					<div class="form-group">
					    <label for="exampleInputPassword1">密码</label>
					    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">用户组</label>
					    <select class="form-control" name="group_id">
							{% for group in group_list%}
							<option value="{{group.uid}}">{{group.caption}}</option>
							{% endfor %}
						</select>
					</div>
					
					
				
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
		        <button type="submit" class="btn btn-primary">保存</button>
		      </div>
		      </form>
		    </div>
		  </div>
		</div>
		<script src="/static/jquery-1.9.1.js"></script>
		<script src="/static/bootstrap.js"></script>
	</body>
</html>
