<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title></title>
	</head>
	<body style="margin: 0;">
		<div style="height: 48px; background-color: #dddddd;"></div>
		<div>
			<form action="/home/" method="post">
				<input type="text" name="username" placeholder="用户名" />
				<input type="text" name="gender" placeholder="性别" />
				<input type="text" name="email" placeholder="邮箱" />
				<input type="submit" value="添加"/>
			</form>
		</div>
		<div id="">
			<table border="" cellspacing="" cellpadding="">
				<tr><th>姓名</th><th>性别</th><th>邮箱</th></tr>
				{% for user in userlist %}
				<tr><td>{{user.username}}</td><td>{{user.gender}}</td><td>{{user.email}}</td></tr>
				{% endfor %}
			</table>
		</div>
	</body>
</html>
